body {
    font-family: sans-serif;
}
h1 {
    font-size: 1.5em;
}
a.testname {
    color: navy;
    text-decoration: none;
}
#results {
    float: left;
    width: 300px;
}
#testframe {
    width: 1000px;
    height: 500px;
    float: left;
}
